

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: whitesmoke !important;
}

#navbarSupportedContent{
    background-color: rgba(240, 243, 246, 0.923) !important;
}
.btn{
    background-color: #8a92c8 !important;
    box-shadow: 1px 5px #bb5d76;
    border: none;
    cursor: pointer;
    font-size: 10px;
    letter-spacing: 1px;
}

.btn-primary:hover{
    background: #91bee6 !important;
    box-shadow: 5px 5px 10px #e89031 !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

#contactme ul a{
    justify-content: space-around;
    align-items: flex-end;
    padding-left: 10%;
   }