

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: rgb(236, 239, 243) !important;
}
.lead{
color: #ffffff !important;
font-size: 150% !important;
border-bottom: 2px solid whitesmoke;
}
#navbarSupportedContent{
    background-color: rgba(240, 243, 246, 0.923) !important;
}
.btn{
    background-color: #8a92c8 !important;
    box-shadow: 1px 5px #bb5d76;
    border: none;
    cursor: pointer;
    font-size: 10px;
    letter-spacing: 1px;
}

.nav-link:hover{
color: rgb(175, 21, 21);
}

.btn-primary:hover{
    background: #91bee6 !important;
    box-shadow: 5px 5px 10px #e89031 !important;
}

.btn-outline-success {
    color: #ffffff !important;
    background-color: transparent;
    background-image: none;
    border-color: #28a745;
}

h1 {
color: aliceblue !important;
border-color: #8a92c8;
}

h2 {
    font-size: 200%;
    box-shadow: #8a92c8 !important;
    padding-block:unset;
}
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.container{
    padding-bottom: 2.5%;
}
#contactme ul a{
    justify-content: space-around;
    align-items: flex-end;
    padding-left: 10%;
    padding-top: 10% !important;
    color: black !important;
   }

   #contactme ul a:hover{
    color: blue !important;
   }